@page "/encode"
@using System.Globalization;
@using TwoApps.Tools.ClientHost.Features;
@inject EncodeViewModel ViewModel

<h3>Encode + Decode text</h3>

<div style="max-width: 800px;">
    <div style="margin-top: 24px;">
        <MudTextField Label="Text to encode or decode" @bind-Value="ViewModel.Source" Variant="Variant.Outlined" Lines="5" />
    </div>
    <MudStack Row="true">
        <MudButton @onclick="ViewModel.Base64Encode">Encode</MudButton>
        <MudButton @onclick="ViewModel.Base64Decode">Decode</MudButton>
    </MudStack>
    <MudTextField @bind-Value="ViewModel.Target" Variant="Variant.Text" ReadOnly="true" Lines="5" />
</div>
