@page "/"
@inject NavigationManager NavigationManager

<h1>TwoApps secure tools</h1>

<div style="margin-top: 24px;">
    <MudButton Variant="Variant.Filled" @onclick="@(()=>NavigationManager.NavigateTo("/encode"))">Encode + Decode text</MudButton>
</div>
